<h1>Pagina Inicial</h1>

<ul>
  <li><%= link_to "Nova Cotação", new_quotation_path %></li>
  <li><%= link_to "Espelho de Vendas", users_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
</ul>